* {
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
}

.address-parent-div {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.540);
}


.address-main-div {
  position: absolute;
  top: 8vh;
  left: 10vh;
  height: auto;
  width: 70vh;
  background-color: rgb(255, 255, 255);

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(0, 0, 0, 0.225);
}

.address-sub-div {
  height: 90%;
  width: 90%;
  border: 1px solid white;
  margin: 3vh;
}

.address-location {
  display: flex;
  align-items: center;
  /* background-color: red; */
}

.address-sub-register-btn-div, .address-sub-add-location-details {
  margin-right: 5vh;
  font-family: "Poppins";
  font-size: 90%;
  font-weight: 600;
  color: blue;
}

.address-sub-register-btn-div:hover {
  border-bottom: 1px solid blue;
  cursor: pointer;
}

.address-sub-add-location-details:hover {
  border-bottom: 1px solid blue;
  cursor: pointer;
}

.close-div {
  display: flex;
  align-items: center;
  font-size: 150%;
  margin-left: 60vh;
  border: 1px solid white;
}

.close-div:hover {
  border: 1px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
}