* {
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
}

.add-location-sub-div {
  height: 90%;
  width: 90%;
}

.add-location-location {
  display: flex;
  align-items: center;
}

.add-location-sub-register-btn-div, .add-location-sub-add-location-details {
  margin-right: 2vh;
  color: blue;
  font-family: "Poppins";
  font-weight: 500;
}


.add-location-input-div {
  width: 100%;
  margin-top: 1vh;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.225);
}

.add-location-input {
  width: 95%;
  height: 4vh;
  border: none;
  outline: none;
}

.add-location-input-btn-div {
  margin-top: 1vh;
  display: flex;
}

.add-location-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 6);
  height: 4vh;
  width: 30%;
  font-family: "Poppins";
  font-size: 100%;
  font-weight: 600;
  border: 1px solid rgb(250, 250, 6);
}

.add-location-google {
  margin-left: 2vh;
  height: 100%;
  font-size: 220%;
}

.add-location-google:hover {
  cursor: pointer;
}