* {
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
}


.add-register-input-div {
  width: 100%;
  margin-top: 1vh;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.225);
}

.add-register-input {
  width: 95%;
  height: 4vh;
  border: none;
  outline: none;
}

.add-register-input-btn-div {
  margin-top: 1vh;
  display: flex;
}

.add-register-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 6);
  height: 4vh;
  width: 30%;
  font-family: "Poppins";
  font-size: 100%;
  font-weight: 600;
  border: 1px solid rgb(250, 250, 6);
}

.add-register-google {
  margin-left: 2vh;
  height: 100%;
  font-size: 220%;
}

.add-register-google:hover {
  cursor: pointer;
}

.add-register-error-line {
  display: flex;
  align-items: center;
  color: red;
  margin-left: 1vh;
}

.add-register-success-line {
  color: green;
  font: 100%;
}