* {
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
}


.add-login-input-div {
  width: 100%;
  margin-top: 1vh;

  display: flex;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.225);
}

.add-login-input {
  width: 95%;
  height: 4vh;
  border: none;
  outline: none;
}

.add-login-input-btn-div {
  display: flex;
  align-items: center;
  margin-top: 1vh;
  /* background-color: red; */
}

.add-login-input-div-B {
  width: 100%;
  margin-top: 1vh;

  display: flex;
  align-items: center;
}

.add-login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-size: 100%;
  font-weight: 600;
  height: 4vh;
  width: 15vh;
  padding-top: 1.4vh;
  padding-bottom: 1.4vh;
  background-color: rgb(250, 250, 6);
}

.add-login-google {
  display: flex;
  align-items: center;
  margin-left: 1vh;
  height: 4vh;
  font-size: 200%;
}

.add-register-google:hover {
  cursor: pointer;
}

.add-register-error-line {
  display: flex;
  align-items: center;
  color: red;
  margin-left: 1vh;
}